[TABLE]
orientation_to_dealer=1
num_of_players=4
table_color_lower_B=45
table_color_lower_G=70
table_color_lower_R=0
table_color_upper_B=55
table_color_upper_G=85
table_color_upper_R=0

[CARDS]
image_height=720
image_width=720
dealer_crop_from_edge=0
player_hand_offset_from_edge=25
mask_table_at_inference=0